# Node
node_modules/
*.log

# Env
.env
web-backend/.env

# OS/Editors
.DS_Store
.idea/
.vscode/

# Flutter / Android
app_android/.dart_tool/
app_android/build/
app_android/.metadata
app_android/.idea/
app_android/*.iml
app_android/android/.gradle/
app_android/android/local.properties
app_android/android/app/debug/
app_android/android/app/profile/
app_android/android/app/release/
app_android/.shorebird/
app_android/android/key.properties
app_android/android/app/*.jks
app_android/android/app/*.keystore

# Firebase service accounts
web-backend/keys/
web-backend/*service-account*.json
web-backend/*serviceaccount*.json
